<button type="submit"
        (click)="previousState()"
        class="btn btn-info">
    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
</button>
        <div *ngIf="book">
            <jhi-alert-error></jhi-alert-error>
            <!--            <dl class="row-md jh-entity-details">-->
            <!--                <dt><span jhiTranslate="libraryApp.book.isbn">Isbn</span></dt>-->
            <!--                <dd>-->
            <!--                    <span>{{book.isbn}}</span>-->
            <!--                </dd>-->
            <!--                <dt><span jhiTranslate="libraryApp.book.name">Name</span></dt>-->
            <!--                <dd>-->
            <!--                    <span>{{book.name}}</span>-->
            <!--                </dd>-->
            <!--                <dt><span jhiTranslate="libraryApp.book.publishYear">Publish Year</span></dt>-->
            <!--                <dd>-->
            <!--                    <span>{{book.publishYear}}</span>-->
            <!--                </dd>-->
            <!--                <dt><span jhiTranslate="libraryApp.book.copies">Copies</span></dt>-->
            <!--                <dd>-->
            <!--                    <span>{{book.copies}}</span>-->
            <!--                </dd>-->
            <!--                <dt><span jhiTranslate="libraryApp.book.cover">Cover</span></dt>-->
            <!--                <dd>-->
            <!--                    <div *ngIf="book.cover">-->
            <!--                        <a (click)="openFile(book.coverContentType, book.cover)">-->
            <!--                            <img [src]="'data:' + book.coverContentType + ';base64,' + book.cover" style="max-width: 100%;" alt="book image"/>-->
            <!--                        </a>-->
            <!--                        {{book.coverContentType}}, {{byteSize(book.cover)}}-->
            <!--                    </div>-->
            <!--                </dd>-->
            <!--                <dt><span jhiTranslate="libraryApp.book.publisher">Publisher</span></dt>-->
            <!--                <dd>-->
            <!--                    <div *ngIf="book.publisher">-->
            <!--                        <a [routerLink]="['/publisher', book.publisher?.id, 'view']">{{book.publisher?.name}}</a>-->
            <!--                    </div>-->
            <!--                </dd>-->
            <!--                <dt><span jhiTranslate="libraryApp.book.author">Author</span></dt>-->
            <!--                <dd>-->
            <!--                    <span *ngFor="let author of book.authors; let last = last">-->
            <!--                        <a [routerLink]="['/author', author?.id, 'view' ]">{{author.firstName}}</a>{{last ? '' : ', '}}-->
            <!--                    </span>-->
            <!--                </dd>-->
            <!--            </dl>-->

            <div class="row justify-content-left mt-5 mx-3">
                <div class="col-4 book-detail__book-cover-img">
                    <img [src]="'data:' + book.coverContentType + ';base64,' + book.cover"
                         class="rounded float-left w-100"
                         [title]="book.name" [alt]="book.name">
                </div>

                <div class="col-6 ml-5 mt-3">
                    <h1 class="font-weight-bold boot-detail__book-name">{{book.name}}</h1>
                    <h6 class="book-detail__author-list" *ngIf="book.authors.length">
                        <span>by </span>
                        <ng-container *ngFor="let author of book.authors; let last = last">
                            <a [routerLink]="['/author', author?.id, 'view' ]">{{author.firstName}} {{author.lastName}}</a>
                            <span *ngIf="!last">, </span>
                        </ng-container>
                    </h6>

                    <div class="mt-5 book-detail__details-block">
                        <span class="font-weight-bolder">Book details</span>
                        <ul class="pl-3 pt-2">
                            <li *ngIf="book.publisher">
                                <span class="font-weight-bolder">Publisher: </span>
                                <a [routerLink]="['/publisher', book.publisher?.id, 'view']">{{book.publisher?.name}}</a>
                            </li>
                            <li *ngIf="book.publishYear">
                                <span class="font-weight-bolder">Publish year: </span>
                                <span>{{book.publishYear}}</span>
                            </li>
                            <li *ngIf="book.isbn">
                                <span class="font-weight-bolder">ISBN: </span>
                                <span>{{book.isbn}}</span>
                            </li>
                            <li *ngIf="book.copies">
                                <span class="font-weight-bolder">Copies: </span>
                                <span>{{book.copies}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="book-detail__buttons">
                        <button type="button" class="btn btn-primary mr-3 w-25" data-toggle="modal"
                                data-target="#borrow-book-modal"
                                *ngIf="isOperator || isAdmin">
                            Borrow
                        </button>
                        <button [routerLink]="['/book', book.id, 'edit']" *ngIf="isAdmin" class="btn btn-primary">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
